<div class="Body">
    <h1>Welcome to Gears</h1>
    <hr>
    <div class="text-field">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ex dui. Nullam efficitur ut magna vitae fermentum. Aliquam eu tellus turpis. 
            In sodales augue sed nisl egestas, sit amet scelerisque massa ultricies. 
            Aliquam erat volutpat. In porttitor est id metus congue vestibulum. Ut sit amet nibh cursus sem porttitor rhoncus sit amet sed nisl.
        </p>
    </div>
    <div class="row d-flex justify-content-center" id="button-group">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn " id="link-button"><a id="link" href="https://es.wikipedia.org/wiki/Gears_of_War">Gears of War (2006)</a></button>
            <button type="button" class="btn " id="link-button"><a id="link" href="https://es.wikipedia.org/wiki/Gears_of_War_2">Gears of War 2 (2008)</a></button>
            <button type="button" class="btn " id="link-button"><a id="link" href="https://es.wikipedia.org/wiki/Gears_of_War_3">Gears of War 3(2011)</a></button>
          </div>
    </div>
    
    <app-carousel></app-carousel>
    
    <div class="row justify-content-center">
        <button type="button"  class="btn btn-primary btn-lg" routerLink="weapons" id="Weapons">Weapons</button>
    <button type="button"  class="btn btn-primary btn-lg" routerLink="characters" id="Characters">Characters</button>
    </div>
    <br>
</div>
